@import '../../variable.scss';
.detail-page{
    height: 100vh;
    width: 100vw;
    @media screen and (max-width: $screen-sm) {
        .detail-page__desktop {
           display: none;
        }
        .detail-page__mobile {
            display: block;
        }
    }
    @media (min-width: $screen-sm-max) {
        .detail-page__desktop {
            display: grid;
            grid-template-columns: 340px auto;
         }
         .detail-page__mobile {
             display: none;
         }
    }
}
