@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// font weights
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// colors used in application
$color-green: #01D167;
$color-white: #ffffff;
$color-action: #325BAF;

// common useful classes
.text-center {
    text-align: center;
}