@import '../../../../variable.scss';

.card-layout{
    height: 195px;
    width: 360px;
    background-color: $color-green;
    border-radius: 8px;
    padding: 27px;
    .card-layout__logo {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 27px;
        .logo {
            background-image: url('../../../../assets/aspire_logos/Aspire-Logo-1.png');
            height: 24px;
            width: 84px;
            background-repeat: no-repeat;
        }
    }
    .card-layout__name{
        font-size: 24px;
        color: $color-white;
        margin-bottom: 27px;
    }
    .card-layout__cardNumber {
        display: flex;
        flex-direction: row;
        gap: 27px;
        margin-bottom: 13px;
        .number-group {
            display: flex;
            flex-direction: row;
            color: $color-white;
            gap: 7px;
            align-items: center;
            font-size: 14px;
            font-weight: $font-weight-bold;
            span {
                height: 9px;
                width: 9px;
                background-color: $color-white;
                border-radius: 50%;
            }
        }
    }
    .card-layout__cardInfo {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        align-items: center;
        gap: 36px;
        color: $color-white;
        .card-cardInfo__cvv {
            display: flex;
            span {
                font-size: 24px;
            }
        }
    }
    .card-layout__merchant {
        display: flex;
        justify-content: flex-end;
    }
}

.merchant {
    background-image: url('../../../../assets/aspire_logos/Visa-Logo.png');
    width: 67px;
    height: 23px;
    background-repeat: no-repeat;
}