@import '../../../../variable.scss';

.card-summary {
    @media screen and (max-width: $screen-sm) {
        padding: 24px;
        background-color: $color-white;
    }
    .recent-transactions {
        background-image: url('../../../../assets/aspire_logos/Group-11889-1.png');
        height: 24px;
        min-width: 24px;
        background-repeat: no-repeat;
    }
    .card-details {
        background-image: url('../../../../assets/aspire_logos/Group-11889.png');
        height: 24px;
        min-width: 24px;
        background-repeat: no-repeat;
    }
}
